/* .reset-button{
  outline:none;
  width: calc(100px + 10px);
  height: calc(50px + 5px);
  border-radius: 25px;
  border: none;
  font-weight: bold;
  font-size: medium;
  transition: color, background .5s ease-out;
}
.reset-button:hover{
  color: white;
  background: rgb(179, 78, 0);
} */
/* use the transition techniqu as well as using that in hover for all reset and sort components, preferably using same classname for a single component, Also use the fonts style for all in single div too to save time */