.scroll-bar {
  position: relative;
  padding: calc(2px + 1vh) calc(10px + 1vw);
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(121, 23, 212);
  overflow-x: auto;           
  white-space: nowrap;        
  scrollbar-width: none;      
  gap: calc(2px + 0.5vw);
}

.scroll-bar > * {
  font-family: 'Getky trial';
  padding: 4px;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
  color: rgb(0, 90, 1);
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: clamp(0.7rem, 2vw, 0.9rem);

  height: calc(18px + 1vh);

  flex: 1 1 auto;    /*flex-grow, flex-shrink, and flex-basis in one shorthand*/       
  min-width: 80px;            
  max-width: 100px;           
  text-align: center;
  transition: color, background .10s ease;
}

.scroll-bar > *:hover {
  background: rgb(122, 22, 72);
  color: rgb(242, 227, 255);
}

.scroll-bar * {
  display: flex;
  align-items: center;
  justify-content: center;
}
