.scroll-bar{
  padding: calc(2px + 1vh) calc(10px + 1vw);
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(121, 23, 212);
}
.scroll-bar>*{
  padding: 5px 10px;
  outline:none;
  background:linear-gradient(90deg, rgb(255, 169, 39), rgb(255, 190, 86));
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
  color: rgb(98, 2, 188);
  width: auto;
  height: calc(20px + 1vh);
  border-radius: 12px;
  border: none;
  font-weight: bold;
  font-size: .9rem;
  transition: color, background .15s ease-in-out;
}
/* Notice how I used >* on className to select all direct children of a container, but not all recuresive children */

.scroll-bar>*:hover{
  background: rgb(130, 0, 65);
  color: rgb(242, 227, 255);
}