.header{
  background-color: rgb(19, 23, 28);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: wheat;
  padding: 0 2%;
  height: 120px;
}
.tv-logo{
  height: 125px;
  width: 125px;
  background-image: url("../assets/tv\ logo.png");
  background-position: center;
  background-size: contain;
}