.card-country{
  background-color: rgba(71, 87, 181, 0.922);
  width:fit-content;
  padding: 4px 7px;
  font-size: .75rem;
  border-radius: 15px 0 15px 0;
  color: rgb(159, 228, 255);
  font-weight:bold;
  position: absolute;
  bottom: 2px;
  right: 0;
  outline: none;
  border:none;
  border-left: 1px solid rgba(150, 105, 255, 0.922);
  border-right: 1px solid rgba(148, 102, 255, 0.722);
  cursor:auto;
}