:root{
  --main-first-color: rgb(0, 114, 78);
  --main-text: rgb(255, 255, 255);
  --main-network: rgba(135, 0, 20, 0.895);
  --inner-text-color: rgb(255, 255, 255);
}
.main-container{
  background:-webkit-repeating-radial-gradient(rgb(100, 0, 25), rgb(0, 138, 138) ,rgb(0, 145, 155), rgb(118, 0, 168));
  padding-top: 5px;
}
.main{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  padding: 5%;
  gap: calc( 7px + 1px);
}
.main-card:hover{
  transform: translate(0, -1px);
  transition: ease .2s;
  filter: drop-shadow(-4px -4px 2px #1c0707) contrast(104%) brightness(103%) saturate(1.5);
}
.main-card{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(27, 28, 34);
  max-width: 200px;
  max-height: 350px;
  border-radius: 20px;
  font-weight: bold;
  filter: drop-shadow(6px 5px 2px #1c0707);
  z-index: 200;
}
.main-card::before{
  content: "";
  background: linear-gradient(90deg, rgba(0,0,0,.1) 0%, rgba(21, 141, 201, 0.466) 50%, rgba(0,0,0,.1) 100%);
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: .3;
  border-radius: 20px;
}
.card-image{
  position: relative;
  top:0;
  max-height: 190px;
  max-width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}
.main-texts{
  padding: 0 15px;
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.name-and-rating-container{
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}
.card-rating{
  display: flex;
  align-items: center;
  gap: 3px;
  width: max-content;
  font-size: calc(.95rem - .1rem);
  z-index: 1;
  color:rgb(0, 220, 180)  
}

