/* HTML link imported fonts family -
font-family: 'Metropolis', sans-serif;
font-family: 'Getky trial';
font-family: 'Neko Neco', sans-serif; */

.App-link {
  color: #61dafb;
  font-family: 'Metropolis', sans-serif;
  
}


